body{
  background-image: url('https://picsum.photos/1920/1080');
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 10px;
}
.navbar--right{
  float: right;
}
.navbar{
  .navbar--username{
    font-size: 35px;
  }
  ul{
    margin: 0;
    // background-color: white;
    // padding: 10px;
    li{
      color: white;
      text-shadow: 0 0 10px rgba(0,0,0,0.3);
      text-align: right;
      margin-bottom: 5px;
      a{
        padding: 4px 15px;
        border-radius: 20px;
        border: 1px solid currentColor;
        color: currentColor;
        text-shadow: 0 0 10px rgba(0,0,0,0.3);
      }
    }
  }
}
body>div>.title{
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#todo>div{
  padding: 10px;
  box-sizing: border-box;
}
#todo{
  display: none;
  .todo--search{
    padding: 0;
    input{
      padding: 5px 10px;
      margin-bottom: 0;
    }
  }
  .todo--action{
    background: black;
  }
  .todo--list{
    .todo__item{
      .todo__item--action{
        border-radius: 20px;
        a{
          width: 35px;
          height: 35px;
          i{
            line-height: 1.8;
            font-size: 20px;
            color: black;
          }
        }
      }
      .todo__item--dueDate{
        border-radius: 20px;
        padding: 5px 10px;
        background-color: #ffc107;
        .date{
          display: flex; 
        }
      }
      .expired{
        background: #F44336;
      }
      .todo__item--thumbnail{
        background-size: cover;
        background-position: center;
        height: 200px;
        position: relative;
        .todo__item--action{
          display: inline-block;
          position: absolute;
          bottom: 10px;
          right: 10px;
          border-radius: 20px;
        }
        .todo__item--dueDate{
          position: absolute;
          display: inline-block;
          bottom: 10px;
          left: 10px;
        }
      }
      .todo__item--bottom{
        padding: 10px;
        display: flex;
      }
      .todo__item--essential{
        display: flow-root;
        .todo__item--action{
          margin-right: 10px;
          margin-bottom: 10px;
          float: right;
        }
        .todo__item--dueDate{
          margin-left: 10px;
          margin-bottom: 10px;
          float: left;

        }
      }
    }
  }
}
.modal{
  .input--desc{
    margin:0;
    margin-bottom: 20px;
  }
  #modal--more--thumbnail--image{
    img{
      max-width: 100%;
    }
  }
  #modal--add--thumbnail--image{
    img{
      max-width: 100%;
    }
  }
  .tag--list{
    .tag{
      border-radius: 20px;
      background-color: #ffc107;
      padding: 5px 10px;
      display: inline-block;      
    }
  }
}

#signin{
  display: none;
  padding: 15px;
  min-height: 250px;
  padding-top: 80px;
  .title{
    h2{
      font-size: 30px;
      margin: 0;
      margin-bottom: 20px;
      text-align:center;
    }
  }
  .form{
    text-align:center;
    div{
      display: inline-block;
    }
  }
}